<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accommodation status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        #reg{
            text-align: center;
            font-family: Algerian, serif;
            color: #0c5460;
        }
    </style>
</head>
<body>
    <div class="accommodation-header">
        <h1>Accommodation status</h1>
    </div>

    <h3 id="reg">{{ acc.reg }}</h3>
    
    <div class="content_status">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Atrribute</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hostel Name</td>
                    <td id="hostel">{{ acc.hostel }}</td>
                </tr>
                <tr>
                    <td>Room No</td>
                    <td id="room">{{ acc.room }}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td id="loc">{{ acc.loc }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td id="status">{{ acc.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons-status">
        <a href="/user_dashboard" class="btn">Home</a>
        <a href="/" class="btn">Logout</a>
        {% if acc.status=='Unapplied' %}
            <button id="btn" class="btn" onclick="apply();">Apply accommodation</button>
        {% else %}
            <button disabled class="btn" onclick="apply();">Apply accommodation</button>
        {% endif %}
    </div>
    <script>
        function display(data){
            if(data==="yes"){
                $('#status').text('Pending');
                $('#btn').attr('disabled','True');
            }
            else{
                $('#status').text('Rejected');
                $('#btn').attr('disabled','True');
            }
        }
        function apply(){
            fetch('/apply', {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify({}),
                    cache: "no-cache",
                    headers: new Headers({
                        'content-type': "application/json"
                    })
            }).then(response=> response.json())
            .then(data => display(data["response"]));
        }
    </script>
</body>
</html>