<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.usebootstrap.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Track Package</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages  %}
                {% if category == 'failure' %}
                    <div class="alert alert-danger alert-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="parent-div">
            <div class="child-div">
                <div>
                    <img src="{{ url_for('static', filename='images/cheetah-reverse-200h.png') }}" alt="logo">
                </div>
            </div>
            <div class="child-div">
                <div>
                    <h2>TRACK PACKAGE</h2>
                    <form action="/result" method="POST">
                        <div id="tracking_input">
                            <input name="trackingNumber" type="text" id="tracking_number" value="" maxlength="20"
                            data-reqmsg="This field cannot be blank." aria-required="true"
                            data-invmsg="Text is invalid" aria-invalid="false">
                        </div>
                        <div id="tracking_btn">
                            <button class="track-button js-smooth-scroll mk-button--dimension-flat mk-button--size-medium \
                             mk-button--corner-pointed text-color-light _ relative text-center font-weight-700 no-backface \
                             letter-spacing-1 inline" type="submit">Track</button>
                        </div>
                    </form>
                    <div id="tracking_btn">
                        <button class="track-button js-smooth-scroll mk-button--dimension-flat mk-button--size-medium \
                         mk-button--corner-pointed text-color-light _ relative text-center font-weight-700 no-backface \
                         letter-spacing-1 inline" onclick="location.href='/login'">Create Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>